# Ignorer les dossiers Unity dans le sous-dossier finalwork/
finalwork/[Ll]ibrary/
finalwork/[Tt]emp/
finalwork/[Oo]bj/
finalwork/[Bb]uild/
finalwork/[Bb]uilds/
finalwork/[Ll]ogs/
finalwork/[Uu]ser[Ss]ettings/
finalwork/MemoryCaptures/
finalwork/sysinfo.txt

# Fichiers Unity à éviter
*.apk
*.aab
*.tmp
*.log

# Fichiers IDE et système
.DS_Store
.vscode/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Blender
*.blend1
